<html>
	<head>
	    <title>Weekly Report Generation</title>
	    <link rel="stylesheet" type="text/css" href="/media/extjs/resources/css/ext-all.css">
	    <link rel="stylesheet" type="text/css" href="/media/css/shared.css">
	    
	    <script type="text/javascript" src="/media/extjs/ext-debug.js"></script>
	    <script type="text/javascript" src="/media/js/step_two_edit_report_display.js"></script>
	    <script type="text/javascript" src="/media/js/step_one_time_range.js"></script>
	    <script type="text/javascript" src="/media/js/step_three_commit_report.js"></script>
	</head>
	
	<body>
		<div id="floating_menu" class="floating_menu">
			<h1 class="toolbox">Report Toolbox</h1>
			<div id="commit_action"></div>
		</div>
		<div id="wrapper" class="container">
			<div id="header">
			</div>		
			
			<div id="error"></div>
			<div id="main_content">
				<br>
				<div id="compromise_counts"></div>
				<br>
				<div id="compromise_details"></div>
				<br>
								
				<br>
				<div id="pie_chart_one" class="pie_charts"></div>
				<div id="pie_chart_two" class="pie_charts"></div>
				<div id="pie_chart_three" class="pie_charts"></div>
				<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
				<div id="line_chart" class="line_charts"></div>
			</div>

			<div id="footer">
			
			</div>
		
		</div>
	</body>
</html>
