<html>
	<head>
	    <title>Weekly Report Generator</title>
	    <link rel="stylesheet" type="text/css" href="/media/extjs/resources/css/ext-all.css">
	    <link rel="stylesheet" type="text/css" href="/media/css/shared.css">
	</head>
	
	<body>
		<div id="wrapper" class="container">
			<div id="left">
				<img src="/media/img/george.png" height="400" width="400"/>
			</div>		
			
			<div id="main_content">
				<h1>Generated Reports</h1>
				<br>
				<div id ="reports">
					{% for item in results %}
					<h2>{{item.start_date}} - {{item.end_date}} - <a class='white_link' href="/report/{{item.id}}">View Report</a></h2>	
					{% empty %}
					<h2>No reports generated yet</h2>
					{% endfor %}
				</div>
				<br><br>
				<a class="white_link" href="/generate">>> Generate a new report</a>
				<br><br>
				<a class="white_link" href="/logout">>> Logout</a>
			</div>

			<div id="footer">
			
			</div>
		
		</div>
	</body>
</html>

